.main {
    grid-area: main;
    background: #f9f4ff;
}

.h1 {
    text-align: center;
    color: #333;
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: 1px;
}

.appWrapper {
    display:none;
}