.profile__bg {
    background-color: #575757;
    height: 285px;
    background-size: cover;
    background-position: 100% 50%;
    margin-bottom: 32px;
}
.profile__bg_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}