.header {
    grid-area: header;
    padding: .375rem;
    background: #373737;
    text-align: center;
    z-index: 2;
    box-shadow: 0 0 10px #373737;
    border-bottom: 2px solid #78599b;
}
.header__logo {
    border-radius: 100px;
    height: 100%;
}