.wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.textarea {
    width: 100%;
    max-height: 15%;
    height: 100%;
    margin: 0 15px 10px 15px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Roboto";
}
.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 16px;
    grid-gap: 3px;
}
.message {
    padding: 16px 32px;
    background-color: #f2e6ff;
    border-radius: 5px;
    color: #333;
    font-family: "Roboto";
}
.message__my {
    background-color: inherit;
}
.message__panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.message__avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 10px;
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.message__someone {

}

.logoName {
    display: flex;
}