.nav {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    grid-area: nav;
    background: #f7f0ff;
    box-shadow: 0 -5px 5px #ddd;
}

.nav__item {
    background: #424242;
    color: white;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    z-index: 2;
    transition-duration: .3s;
    font-family: 'Roboto';
}

.nav__item:hover {
    background: #686868;
}

.nav__item_active {
    background: inherit !important;
    color: #333;
    box-shadow: 0 3px 10px #808080 inset;
}